
@{
    Layout = null;
}

<!--
Author: W3layouts
Author URL: http://w3layouts.com
-->
<!doctype html>
<html lang="en">
@Html.Action("HeaderPartial")
<body>

    @Html.Action("NavbarPartial")
    <!--  Main banner section -->
    @Html.Action("BannerPartial")
    <!--  //Main banner section -->
    @Html.Action("SkillPartial")

    @Html.Action("FeaturePartial")

    @Html.Action("ImagePartial")

    <script src="~/Templates/my_website-starter/assets/js/jquery-3.3.1.min.js"></script>
    <script src="~/Templates/my_website-starter/assets/js/lightbox-plus-jquery.min.js"></script>

    @Html.Action("ExperiencePartial")

    @Html.Action("TestimonalPartial")


    <!-- grids block 5 -->
    @Html.Action("FooterPartial")
    <!-- // grids block 5 -->
    @Html.Action("ScriptPartial")



</body>

</html>
<!-- // grids block 5 -->
